/*
 * @file
 * This file holds all the MWS theme styles.  When in doubt, add styles here under the appropriate section
 */


/* GLOBALS */

body {
  font-family: Helvetica,Geneva,Arial,sans-serif;
  background: url("../images/highlight.png") no-repeat scroll center top #B2B6BF;
  color: #555;
  line-height: 1.4em;
}
a {
  color: #5D6D99;
}




/*  HEADER  */
#header {
  margin-bottom: 100px;
}
#logo {
  float:  left;
  box-shadow: 3px 3px 6px #8A8D94;
}
#logo img{
  display: block;
}
#name {
  float:  left;
}
#site-name {
  font-size: 17px;
  text-transform: lowercase;
  line-height: 82px;
  margin: 0;
  font-family: 'MyriadProBoldCondensed',Helvetica,Geneva,Arial,sans-serif;
}
#site-name a{
  display: block;
  color: #FFF;
  padding: 0 20px;
}
#navigation {
  float: left;
  line-height: 82px;
  font-size: 17px;
  text-transform: lowercase;
}
#main-menu a {
  color: #414346;
  font-family: 'MyriadProRegular',Helvetica,Geneva,Arial,sans-serif;
}
#main-menu li{
  background: transparent url('../images/menu-item-separator.gif') no-repeat 0 50%;
  padding: 0 .5em 0 .8em;
}
#main-menu li.first {
  background: none;
  padding-left: 0;
}
#main-menu li span.outer {
  position: absolute;
  display: none;
}
#main-menu li span.inner {
  position: relative;
  left:  -50%;
  top:  20px;
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  #header {
    margin-bottom: 50px;
  }
  #navigation {
    line-height: 1.4;
    padding-top: 15px;
  }
  #main-menu li{
    padding: 0 .3em 0 .5em;
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  #header {
    margin-bottom: 50px;
  }
  #navigation {
    line-height: 1.4;
    padding-top: 15px;
  }
  #main-menu li{
    padding: 0 .3em 0 .5em;
    font-size: 16px;
  }
}




/* FOOTER */

#footer .block {
  width: 25%;
  float: left;
  margin: 80px 0 20px;
}
#footer .block-inner {
  padding: 1.25em;
  border-left: 1px solid #999;
  min-height: 20em;
}
#block-block-4 .block-inner {
  border: none;
}
#footer h2.block-title{
  color: #7F808A;
  letter-spacing: 0.1em;
  text-shadow: 0 0.125em 0.188em #CCCCCC;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}
#footer .block-content{
  color: #666;
  font-size: 0.8em;
  line-height: 2em;
}
#footer a {
  color: #666;
}
#footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  #footer .block {
    width: 50%;
    float: left;
  }
  #block-block-6 .block-inner{
    border: none;
  }
}
@media screen and (max-width: 576px) {
  #footer .block {
    width: 100%;
    float: left;
  }
  #footer .block-inner {
    border-left: none;
    border-top: 1px solid #999;
    min-height: 0;
  }

}


/* BLOG */

.view-blog.view-display-id-page .views-row {
  padding-bottom: 30px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 30px;
}
.view-blog.view-display-id-page .views-field-field-blog-author{
  display: inline;
  text-transform: uppercase;
  color:  #E2E2E2;
  padding-right: 10px;
  
}
.view-blog.view-display-id-page .views-field-created{
  display: inline;
  color:  #D3D3D4;
  padding-left: 10px;
  border-left:  1px solid #E2E2E2;
}
.view-blog.view-display-id-page .views-field-title a{
  color: #444;
  font-size: 48px;
}
.view-blog.view-display-id-page .views-field-title a:hover{
  color: #888;
}
.view-blog.view-display-id-page .views-field-view-node a{
  color: #5D6D99;
}
.view-blog.view-display-id-page .views-field-view-node a:hover{
  color: #888;
}

  /* blog post page */
.caption{
  float: left;
  width:  80%;
}
.byline {
  float: right;
}
.field-name-field-blog-author {
  color: #E1DFD7;
  text-transform: uppercase;
}
.field-name-field-featured-image {
  margin: 20px 0;
}
.field-name-body {
  margin: 0 0 100px;
}


/* RIGHT SIDEBAR */
ul.facebook-feed li,
ul.tweets-pulled-listing li {
  color: #666;
  font-size: 12px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D3D2D3;
  list-style-type: none;
}
ul.facebook-feed li.last,
ul.tweets-pulled-listing li.last {
  border-bottom: none;
}
ul.tweets-pulled-listing li a {
  color: #5D6D99;
}
ul.tweets-pulled-listing{
  font-size: 12px;
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}


/*  FACULTY  */

.view-faculty-staff ul{
  padding-left: 150px;
}
.view-faculty-staff li{
  position: relative;
  list-style-type: none;
  width: 45%;
  margin-left: 5%;
  float: left;
}
.view-faculty-staff .views-field-title a {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  font-size: 120%;
  height: 50px;
  line-height: 50px;
  padding: 15px 0;
}
.view-faculty-staff .views-field-field-faculty-staff-image{
  background: url("../images/thumb-background.png") no-repeat scroll 0 0 transparent;
  display: none;
  height: 133px;
  margin-left: -220px;
  top: -25px;
  padding: 20px 0 0;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 50;
}
@media screen and (min-width: 1300px) {
  .view-faculty-staff li {
    width: 28%;
  }
  
}

  /* faculty detail page */
  
.field-name-field-biography {
  margin: 0 0 100px;
}
.field-name-field-affiliation  {
  color: #E1DFD7;
  text-transform: uppercase;
}



/* Past Workshops - Right sidebar thumbs*/ 
div.region-sidebar-second ul{
   padding-left: 0px;
}

div#past-workshops-list ul li{
   list-style-type: none;
}

div#past-workshops-list ul li img{
   display: none;
}

div#past-workshops-list ul{
	float:left;
	width: 30%;
}